*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 100%;
  overflow-y: scroll; /* 1 */
  min-height: 100%;
}

body {
  background: #ffffff;
  color: black;
  font-family: 'Work Sans', sans-serif;
}

article {
  padding: 3% 2.5% 3% 33.3%;
  position: relative;
  z-index: 100;
}

h1,h2,h3,h4,p,li {
  font-size: 3vw;
  line-height: 1.4em;
  font-weight: 400;
}
h1 {
  font-weight: 500;
}
ul {
  list-style: none;
  padding: 0;
}

hgroup, aside, main p {
  margin-bottom: 1.4em;
}

@media screen and (max-width: 785px) {

  body {
    font-size: 4.8vw;
  }
  
  article {
    max-width: 100%;
    padding-left: 2.5%;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: #0e0e0e;
    color: white;
  }
}