*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  padding: 16px 0;
}

html {
  font-size: 100%;
  overflow-y: scroll; /* 1 */
  scroll-behavior: smooth;
}

/* utility */
.m0 {
  margin: 0 !important;
}


/* fonts */
@font-face {
  font-family: "Octave-Regular";
  src: url("fonts/Octave-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Octave-Bold";
  src: url("fonts/Octave-Bold.woff2") format("woff2");
}

body {
  font-family: "Octave-Regular", sans-serif;
}

h1 {
  font-family: "Octave-Bold", sans-serif;
}

/* end fonts */

body {
  background: #98999E;
  color: #313133;
  font-family: "Octave-Regular", sans-serif;
}

article {
  position: relative;
  z-index: 100;
}

h1,h2,h3,h4,p,li {
  font-size: 2.4vw;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: -0.01em;
}
h1 {
  font-family: "Octave-Bold", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:link, a:visited, a:focus {
  color: inherit;
}

a:hover:after {
  content: '↗';
}

a.down:hover:after {
  content: '↓';
}

a.up:hover:after {
  content: '↑';
}

a.no-arrow:hover:after {
  content: '' !important;
}

main {
  padding-right: 15%; /* for a more optimal line length */
}

p {
  margin-bottom: 0.7em;
}

.dot {
  width: 3vw;
  height: 100px;
  position: absolute;
  z-index: -1;
}

/* Grid layout */
.container {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0 20px; /* gutter */
  box-sizing: border-box;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(2 / 3 * 100%); /* 2/3 of the viewport width */
  height: 100%;
}

header {
  display: flex;
  width: 100%;
}

.header-column {
  flex: 1;
  text-align: left; /* left-align text */
}

main {
  width: 100%;
  text-align: left; /* left-align text */
}

/* dots */

.alpha {
  background: #DE4540;
}
.beta {
  background: #2154D3;
}
.gamma {
  background: #F4B33F;
}
.delta {
  background: #F6F7FC;
}
.epsilon {
  background: Green;
}

/* Styles for image sections */
.images {
  width: 100%;
  margin: 0;
  padding: 16px 20px 16px 0;
}

.image-section {
  display: flex;
  align-items: center;
  margin: 64px 0;
}

.image-section .caption {
  flex: 0 0 33.333%;
  align-self: flex-start;
  position: sticky;
  top: 16px;
  padding: 0 2em 0 20px;
}

.caption p {
  font-size: 1.4vw;
}

.caption h3 {
  display: none;
}

.image-section .image-container {
  flex: 0 0 66.666%;
}

.image-section img, .image-section video {
  width: 100%;
  height: auto;
  display: block; 
}

.image-container > *:not(:first-child) {
  margin-top: 16px;
}

@media screen and (max-width: 785px) {

  main { padding-right: 0; }

  h1,h2,h3,h4,p,li {
    font-size: 4.75vw;
  }

  .container {
    justify-content: flex-start;
  }
  
  article {
    width: 100%;
  }

  .header-column:first-child {
    flex: 2; /* push nav out into an effective 3rd col */
  }

  a:hover:after {
    content: ''; /* prevent emoji on hover */
  }

  .images {
    padding: 16px 20px;
  }
  
  .image-section {
    flex-direction: column;
    align-items: flex-start;
    order: 0
  }

  .image-section .caption {
    order: 1;
    padding: 16px 0 0 0;
  }

  .image-section .caption p {
    display: none;
  }

  .image-section .caption h3 {
    display: inline-block !important;
  }

  .image-section .image-container {
    width: 100%;
    flex: none;
    margin-bottom: 0;
  }

  .image-section img {
    width: 100%;
    max-width: 100%;
  }
  
}
@media (prefers-color-scheme: dark) {
  body {
    background: #18181b;
    color: #fafafa;
  }
}
