*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: 100%;
  overflow-y: scroll; /* 1 */
}

/* fonts */
@font-face {
  font-family: "Octave-Regular";
  src: url("fonts/Octave-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Octave-Bold";
  src: url("fonts/Octave-Bold.woff2") format("woff2");
}

body {
  font-family: "Octave-Regular", sans-serif;
}

h1 {
  font-family: "Octave-Bold", sans-serif;
}

/* end fonts */

body {
  background: #98999E;
  color: #313133;
  font-family: "Octave-Regular", sans-serif;
}

article {
  position: relative;
  z-index: 100;
}

h1,h2,h3,h4,p,li {
  font-size: 2.4vw;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: -0.01em;
}
h1 {
  font-family: "Octave-Bold", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:link, a:visited, a:focus {
  color: inherit;
}

a:hover:after {
  content: '↗';
}

main {
  padding-right: 15%; /* for a more optimal line length */
}

p {
  margin-bottom: 0.7em;
}

.dot {
  width: 3vw;
  height: 100px;
  position: absolute;
  z-index: -1;
}

/* Grid layout */
.container {
  display: flex;
  justify-content: flex-end;
  height: calc(100% - 36px); /* viewport height minus 16px top margin and 20px bottom margin */
  width: 100%;
  margin: 16px 0;
  padding: 0 20px; /* gutter */
  box-sizing: border-box;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(2 / 3 * 100%); /* 2/3 of the viewport width */
  height: 100%;
}

header {
  display: flex;
  width: 100%;
}

.header-column {
  flex: 1;
  text-align: left; /* left-align text */
}

main {
  width: 100%;
  text-align: left; /* left-align text */
}

/* dots */

.alpha {
  background: #DE4540;
}
.beta {
  background: #2154D3;
}
.gamma {
  background: #F4B33F;
}
.delta {
  background: #F6F7FC;
}
.epsilon {
  background: Green;
}



@media screen and (max-width: 785px) {

  html, body {
    height: calc(100% - 16px);
  }

  main { padding-right: 0; }

  h1,h2,h3,h4,p,li {
    font-size: 5vw;
  }

  .container {
    justify-content: flex-start;
  }
  
  article {
    width: 100%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  
  a:hover:after {
    content: ''; /* prevent emoji on hover */
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: #18181b;
    color: #fafafa;
  }
}
